{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <h1>S'inscrire</h1>
        {{ form_row(registrationForm.email, {label: 'Adresse mail'}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        
            {{ form_row(registrationForm.agreeTerms, {label: 'Accepter les conditions'},{ attr: { class: 'agreeTerms' } }) }}
        
        <button type="register" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
