{% extends 'base.html.twig' %}

{% block title %}Mettre à jour les informations de l'établissement{% endblock %}

{% block body %}
    <h1>Mettre à jour les informations de l'établissement</h1>

    {{ form_start(form) }}
        {{ form_row(form.establishmentName) }}
        {{ form_row(form.address) }}
        
        <h3>Horaires d'ouverture</h3>
        <ul class="openingHours" data-prototype="{{ form_widget(form.openingHours.vars.prototype)|e('html_attr') }}">
            {% for openingHourField in form.openingHours %}
                <li>
                    {{ form_widget(openingHourField) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="add_item_link" data-collection-holder-class="openingHours">Ajouter un horaire</button>

        <button type="submit" class="btn">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}