{% extends 'base.html.twig' %}
{% block title %}Créer un nouvel établissement{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/new.css') }}">
{% endblock %}
{% block body %}
    <div class="containerNew">
        <h1>Créer un nouvel établissement</h1>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.address) }}
            {{ form_row(form.postalCode) }}
            {{ form_row(form.city) }}
            {{ form_row(form.country) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.email) }}
            {{ form_row(form.website) }}
            {{ form_row(form.siret) }}
            <h2>Jours et heures d'ouverture</h2>
            <div class="opening-hours-collection" data-prototype="{{ form_widget(form.openingHours.vars.prototype)|e('html_attr') }}">
                {% for openingHour in form.openingHours %}
                    <div class="opening-hour-item">
                        {{ form_row(openingHour.day) }}
                        {{ form_row(openingHour.startTime) }}
                        {{ form_row(openingHour.endTime) }}
                        <button type="button" class="remove-opening-hour">Supprimer</button>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="add-opening-hour">Ajouter un jour et une heure</button>
            {{ form_row(form.create) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var collectionHolder = document.querySelector('.opening-hours-collection');
        var addButton = document.querySelector('.add-opening-hour');

        addButton.addEventListener('click', function() {
            var prototype = collectionHolder.dataset.prototype;
            var index = collectionHolder.children.length;
            var newForm = prototype.replace(/__name__/g, index);
            var newFormElement = document.createElement('div');
            newFormElement.classList.add('opening-hour-item');
            newFormElement.innerHTML = newForm + '<button type="button" class="remove-opening-hour">Supprimer</button>';
            collectionHolder.appendChild(newFormElement);
        });

        collectionHolder.addEventListener('click', function(e) {
            if (e.target.classList.contains('remove-opening-hour')) {
                e.target.closest('.opening-hour-item').remove();
            }
        });
    });
</script>
{% endblock %}